@page "/PitScoutForm/Edit/{Id}"
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>ScoutForm</h3>
    <ScoutFromComponent @ref="scoutForm" Form="form" Type="FormType.Update" OnValidSubmit="OnValidSubmit"
                        ShowImageUpload="true"></ScoutFromComponent>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private FormDto form;
    private ScoutFromComponent scoutForm;

    protected override async Task OnInitializedAsync()
    {
        var oldForm = await Http.GetJson<FormDto>("ScoutForm/" + Id);
        if (oldForm == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        
        form = await Http.GetJson<FormDto>($"ScoutFormFormat/TemplateScoutFormByYear/{oldForm.Year}/{oldForm.Type}");
        if (form == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        MapForms(oldForm, form);
    }

    private void MapForms(FormDto oldForm, FormDto newForm) //TODO: Impl using mapper!
    {
        newForm.TeamNumber = oldForm.TeamNumber;
        newForm.Year = oldForm.Year;
        newForm.Type = oldForm.Type;
        newForm.KeyName = oldForm.KeyName;
        newForm.WriterUserName = oldForm.WriterUserName;
        newForm.Id = oldForm.Id;
        newForm.IsImageUploaded = oldForm.IsImageUploaded;
        newForm.ImageName = oldForm.ImageName;
        newForm.ImageFileName = oldForm.ImageFileName;
        
        var oldData = oldForm.FormDataInStages.SelectMany(i => i.FormData.WithCascadeData()).ToList();
        for (var i = 0; i < newForm.FormDataInStages.Count; i++)
        {
            var stage = newForm.FormDataInStages[i];
            if (oldForm.FormDataInStages.All(s => s.Name != stage.Name))
            {
                continue;
            }

            ReplaceData(oldData, stage.FormData);
            var oldStage = oldForm.FormDataInStages.First(s => s.Name == stage.Name);
            oldStage.FormData = stage.FormData;
            newForm.FormDataInStages[i] = oldStage;
        }
    }

    private void ReplaceData(List<FormDataDto> allOldData, List<FormDataDto> dataToReplace)
    {
        for (int i = 0; i < dataToReplace.Count; i++)
        {
            var newData = dataToReplace[i];
            ReplaceData(allOldData, newData.CascadeData);
            var old = allOldData.FirstOrDefault(oldD => oldD.Field.Id == newData.Field.Id);
            if (old != null)
            {
                old.CascadeData = newData.CascadeData;
                dataToReplace[i] = old;
            }
        }
    }

    private async Task OnValidSubmit()
    {
       // if (!await http.TryPutJson("ScoutForm/" + Id, form))
        {
          //  return;
        }
        
        if (scoutForm.Content != null)
        {
            var success = await Http.TryPostJson($"/ScoutForm/SaveImage/{form.TeamNumber}/{form.KeyName}", scoutForm.Content);
            if (!success)
            {
                return;
            }
        }
        NavigationManager.NavigateTo("/");
    }
}
