@using Syncfusion.Blazor.Inputs

@inherits FormInputBase<List<OptionDto>>
<div>
    <SfMultiSelect @bind-Value="CurrentValue" Mode="VisualMode.CheckBox"
                    MaximumSelectionLength="MaximumSelectionLength == 0 
                    ? Options.Count : MaximumSelectionLength"
                    DataSource="Options"/>

    <ValidationMessage For="@ValueExpression"/>
</div>

@code {
    [Parameter]
    public List<OptionDto> Options { get; set; }= new();
    [Parameter]
    public int MaximumSelectionLength { get; set; }

    protected override bool TryParseValueFromString(string value, out List<OptionDto> result, [NotNullWhen(false)] out string validationErrorMessage)
    {
        validationErrorMessage = null;
        result = new List<OptionDto>();
        return true;
    }
}
