@using Syncfusion.Blazor.Inputs
@using System.Diagnostics.CodeAnalysis;

@inherits FormInputBase<int?>
<div>
    <SfNumericTextBox @bind-Value="CurrentValue"/>
    <ValidationMessage For="@ValueExpression"/>
</div>

@code {

    protected override bool TryParseValueFromString(string value, out int? result, [NotNullWhen(false)] out string validationErrorMessage)
    {
        validationErrorMessage = null;
        if (string.IsNullOrWhiteSpace(value))
        {
            result = null;
            return true;
        }
        bool success = int.TryParse(value, out int val);
        if (!success)
        {
            validationErrorMessage = "Value has to be a number";
        }
        result = val;
        return success;
    }

}
