@using OnyxScoutApplication.Shared.Models.ScoutFormFormatModels
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
<h3>@SectionName</h3>
@foreach (var data in SectionData)
{
    <label>@data.Field.Name</label>
    @switch (data.Field.FieldType)
    {
        case FieldType.None:
            break;
        case FieldType.TextField:
            <TextFieldComponent Field="data.Field" IsEditMode="false" @bind-Value="data.StringValue">

            </TextFieldComponent>
            break;
        case FieldType.Numeric:
            <NumricFieldComponent Field="data.Field" IsEditMode="false" @bind-Value="data.NumericValue">

            </NumricFieldComponent>

            break;
        case FieldType.Boolean:
            <BooleanFieldComponent Field="data.Field" IsEditMode="false" @bind-Value="data.BooleanValue">

            </BooleanFieldComponent>
            break;
        case FieldType.CascadeField:
            <BooleanFieldComponent Field="data.Field" IsEditMode="false" @bind-Value="data.BooleanValue">

            </BooleanFieldComponent>
            if (data.BooleanValue)
            {
                <div class="form-group" style="padding-left:1em">
                    <SectionEdit SectionData="data.CascadeData"></SectionEdit>
                </div>
            }
            break;
        case FieldType.OptionSelect:
            <OptionSelectFieldComponent Field="data.Field" IsEditMode="false" @bind-Value="data.StringValue"></OptionSelectFieldComponent>
            break;
        case FieldType.MultipleChoice:
            <MultipleChoiceComponent Field="data.Field" IsEditMode="false" @bind-Value="data.SelectedOptions"></MultipleChoiceComponent>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
}

@code {

    [Parameter]
    public List<FormDataDto> SectionData { get; set; }

    [Parameter]
    public string SectionName { get; set; }

}
