@page "/UsersManager"
<h3>Users manager</h3>
@using Microsoft.AspNetCore.Authorization
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Owner")]

@if (applicationUsers == null)
{
    <h4>Loading....</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User name</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicationUser in applicationUsers)
            {
            <tr>
                <td>@applicationUser.UserName</td>
                @{string roles = "";}
                @foreach (ApplicationUserRoleDto identityRole in applicationUser.UserRoles)
                {
                    roles += ", " + identityRole.Role.NormalizedName;
                }
                @{roles = roles.Length != 0 ? roles.Remove(0, 2) : roles;}
                <td>
                    @roles
                </td>
                <SfButton CssClass="e-warning" @onclick="() => edit(applicationUser)">Edit</SfButton>
            </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<ApplicationUserDto> applicationUsers;

    protected override async Task OnInitializedAsync()
    {
        applicationUsers = await Http.GetJson<List<ApplicationUserDto>>("ApplicationUser");
    }

    private void edit(ApplicationUserDto applicationUserDto)
    {
        NavigationManager.NavigateTo("/UsersManager/Edit/" + applicationUserDto.UserName);
    }
}
