@page "/TeamDetails/{TeamNumber:int}"
@using OnyxScoutApplication.Client.Others.Objects.Analyzers.TeamData
@inject HttpClientManager Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (endGameCalculatedData != null)
{
    <h3>Team @TeamNumber</h3>
    <h4>@selectedEvent?.Name</h4>
    <a href="/TeamDetails/Notes/@TeamNumber">Notes</a>

    <br/>
    <h5>Autonomous</h5>
    <TeamAnalyticGrid CalculatedData="autoCalculatedData"></TeamAnalyticGrid>
    <br/>
    <h5>Teleoperated</h5>
    <TeamAnalyticGrid CalculatedData="teleopCalculatedData"></TeamAnalyticGrid>
    <br/>
    <h5>End game</h5>
    <TeamAnalyticGrid CalculatedData="endGameCalculatedData"></TeamAnalyticGrid>
    <br/>
    <MatchesGrid Matches="matches" OnTeamClicked="OnTeamClicked">
        <MatchGridSettings SubmittedForms = "@data" TeamNumber = "@TeamNumber" ></MatchGridSettings>
    </MatchesGrid>
}

@code {

    [Parameter]
    public int TeamNumber { get; set; }

    private Event selectedEvent;
    private List<ScoutFormDto> data;
    private List<TeamFieldAverage> autoCalculatedData;
    private List<TeamFieldAverage> teleopCalculatedData;
    private List<TeamFieldAverage> endGameCalculatedData;
    private List<Match> matches;

    protected override async Task OnInitializedAsync()
    {
        selectedEvent = await LocalStorage.GetItemAsync<Event>("EventSelector/SelectedEventKey");
        if (selectedEvent == null)
        {
            return;
        }
        var format = await Http.GetJson<ScoutFormFormatDto>("ScoutFormFormat/ByYear/" + selectedEvent.Year);
        var result = await Http.GetJson<List<ScoutFormDto>>("ScoutForm/GetAllByTeam/" + TeamNumber + "/" + selectedEvent.Key);
        data = result.OrderBy(i => i.MatchName).ToList();
        matches = (await Http.GetJson<List<Match>>
            ("TheBlueAlliance/GetMatchesByTeamAndEvent/" + TeamNumber + "/" + selectedEvent.Key))
            .OrderBy(i => i.Date).ToList();
        autoCalculatedData = TeamDataAnalyzer.CalculateDataFor(format.AutonomousFields, result, scoutForm => scoutForm.AutonomousData, s => true);
        teleopCalculatedData = TeamDataAnalyzer.CalculateDataFor(format.TeleoperatedFields, result, scoutForm => scoutForm.TeleoperatedData, s => true);
        endGameCalculatedData = TeamDataAnalyzer.CalculateDataFor(format.EndGameFields, result, scoutForm => scoutForm.EndGameData, s => true);
    }

    private void OnTeamClicked(TeamInMatch teamInMatch)
    {
        if (teamInMatch.TeamNumber != TeamNumber)
        {
            NavigationManager.NavigateTo("TeamDetails/" + teamInMatch.TeamNumber, true);
        }
    }

}
