<div>
    <SfGrid DataSource="@CalculatedData" Width="600">
        <GridColumns>
            <GridColumn HeaderText="Name" Width="400">
                <Template>
                    @{
                        <span> @((context as FieldAverage).Field.Name)</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Avarge/Success rate" Width="150">
                <Template>
                    @{
                        var f = (FieldAverage)context;
                        var text = f.Formated;
                    }
                    <span>@text</span>
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Top 3" Width="150">
                <Template>
                    @{
                        var f = (FieldAverage)context;
                        var s = f.GetSortedValues().Take(3).ToArray();
                        string text = "";
                        for (int i = 0; i < s.Length; i++)
                        {
                            text += s[i] + " ";
                        }
                    }
                    <span>@text</span>
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>
@code {
    [Parameter]
    public List<FieldAverage> CalculatedData { get; set; }
}
