<div>
    <SfGrid DataSource="@CalculatedData" Width="600">
        <GridColumns>
            <GridColumn HeaderText="Name" Width="400">
                <Template>
                    @{
                        <span> @((context as FieldAverage).Field.Name)</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Avarge/Success rate" Width="150">
                <Template>
                    @{
                        var v = (FieldAverage)context;
                        var s = v.Formated;
                    }
                    <span>@s</span>
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>
@code {
    [Parameter]
    public List<FieldAverage> CalculatedData { get; set; }
}
