@* @page "/TeamDetails/Notes/{teamNumber:int}" *@
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@using OnyxScoutApplication.Shared.Models.ScoutFormFormatModels

@inject HttpClientManager http
@inject ILocalStorageService localStorage
@if (notesByStage != null)
{ 
@*     <h3>Team @TeamNumber</h3> *@
@*     <h4>@selectedEvent?.Name</h4> *@
     <div> 
        @foreach (var (stage, textByWirters) in notesByStage)
        {
            <h5>@stage</h5>
            foreach (var (texts, writer) in textByWirters)
            {

                foreach (var text in texts)
                {
                    <div>
                        <SfTextBox Value="@text.StringValue" Width="60%" Readonly="true" Multiline="true"></SfTextBox>
                        <span>@writer</span>
                    </div>
                    <br/>
                }
            }
        }
    </div>
}

@code {

    [Parameter]
    public int TeamNumber { get; set; }

    [Parameter]
    public List<FormDto> Forms
    {
        get => forms;
        set
        {
            forms = value;
            var v = forms.SelectMany(i => i.FormDataInStages.ToDictionary(ii => ii.Name, ii => 
                new Tuple<FormDataDto[], string>(ii.FormData.Where(d => d.Field.FieldType == FieldType.TextField).ToArray(), i.WriterUserName)));
            notesByStage = v.ToLookup(i => i.Key, i => i.Value).ToDictionary(i => i.Key, i => i.ToList());
        }
    }

    private Dictionary<string, List<Tuple<FormDataDto[], string>>> notesByStage;
    private List<FormDto> forms;
}
