@inherits FormInputBase<bool>
@using System.Diagnostics.CodeAnalysis;

<div>
    @if (IsEditMode)
    {
        <label>Field default value</label>
    }

    <SfCheckBox CssClass="e-info" @bind-Checked="CurrentValue"/>
    <ValidationMessage For="@(() => ValueExpression)"/>
</div>

@code {

    protected override bool TryParseValueFromString(string value, out bool result, [NotNullWhen(false)] out string validationErrorMessage)
    {
        validationErrorMessage = "Value must be a valid boolean";
        return bool.TryParse(value, out result);
    }

}
