@using Syncfusion.Blazor.Spinner

@inherits LayoutComponentBase
@inject NotificationManager NotificationManager
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AppManager AppManager
@inject ServiceManager ServiceManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <Toast></Toast>

    <div class="main">
        <div class="top-row px-4 auth">
            <div>
                <SfSpinner @bind-Visible="@ServiceManager.IsLoading">
                </SfSpinner>
            </div>
            <LoginDisplay/>
            <span>V3.2.0</span>
        </div>
        <div class="content px-4">
            @if (finishedInit)
            {
                @Body
            }
        </div>
    </div>
</div>

@code{
    bool finishedInit;

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime
            .InvokeAsync<object>(
                "blazorFuncs.registerClient",
                new object[] { DotNetObjectReference.Create(this) }
            );

        ServiceManager.OnStateChanged += () =>
        {
            StateHasChanged();
            return Task.CompletedTask;
        };
        
        await ServiceManager.CleanAndInitAllServices();

        finishedInit = true;

        
    }

    [JSInvokable("onUpdateAvailable")]
    public async Task<string> AppUpdate()
    {
        Console.WriteLine("New version available");
        StateHasChanged();
        await NotificationManager.NotifyAsync("Update available", "Please refresh the page", NotificationType.Warning,
            0, new NotficationButton { Content = "Refresh", Action = RefreshPage });
        return await Task.FromResult("Alerted client");
    }

    private void RefreshPage(object arg)
    {
        NavigationManager.NavigateTo("/", true);
    }

   
}
