@page "/ScoutFormFormat/Create"

@using OnyxScoutApplication.Client.Pages.ScoutFormFormat.Components

@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = Roles.Admin)]

<h3>Create</h3>
<ScoutFormFormatComponent ScoutFormFormat="@scoutFormFormat" Type="FormType.Create" OnValidSubmit="@Create">

</ScoutFormFormatComponent>
@code {
    private ScoutFormFormatDto scoutFormFormat = new ScoutFormFormatDto();

    private async Task Create()
    {
        scoutFormFormat.AutonomousFields.RemoveAll(i => i.FieldType == FieldType.None || string.IsNullOrWhiteSpace(i.Name));
        scoutFormFormat.TeleoperatedFields.RemoveAll(i => i.FieldType == FieldType.None || string.IsNullOrWhiteSpace(i.Name));
        scoutFormFormat.EndGameFields.RemoveAll(i => i.FieldType == FieldType.None || string.IsNullOrWhiteSpace(i.Name));
        if (await Http.TryPostJson("ScoutFormFormat", scoutFormFormat))
        {
            NavigationManager.NavigateTo("ScoutFormFormats");
        }
    }
}
