@page "/ScoutFormFormat/Create"

@using OnyxScoutApplication.Client.Pages.ScoutFormFormat.Components

@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = Roles.Admin)]

<h3>Create</h3>
<ScoutFormFormatComponent ScoutFormFormat="@scoutFormFormat" Type="FormType.Create" OnSubmit="@Create">

</ScoutFormFormatComponent>

@code {
    private readonly ScoutFormFormatDto scoutFormFormat = new ScoutFormFormatDto();

    private async Task Create()
    {
        if (await Http.TryPostJson("ScoutFormFormat", scoutFormFormat))
        {
            NavigationManager.NavigateTo("ScoutFormFormats");
        }
    }

}
