@page "/ScoutFormFormat/Edit/{id:int}"
@using OnyxScoutApplication.Client.Pages.ScoutFormFormat.Components
@inject HttpClientManager Http
@inject NavigationManager NavigationManager

<h3>Edit</h3>
@if (scoutFormForamt != null)
{
    <ScoutFormFormatComponent ScoutFormFormat="@scoutFormForamt" Type="FormType.Update" OnValidSubmit="@Update">

    </ScoutFormFormatComponent>
}
@code {
    [Parameter]
    public int id { get; set; }
    private ScoutFormFormatDto scoutFormForamt;

    protected override async Task OnInitializedAsync()
    {
        scoutFormForamt = await Http.GetJson<ScoutFormFormatDto>("ScoutFormFormat/" + id);
    }

    private async Task Update()
    {
        scoutFormForamt.AutonomousFields.RemoveAll(i => i.FieldType == FieldType.None || string.IsNullOrWhiteSpace(i.Name));
        scoutFormForamt.TeleoperatedFields.RemoveAll(i => i.FieldType == FieldType.None || string.IsNullOrWhiteSpace(i.Name));
        scoutFormForamt.EndGameFields.RemoveAll(i => i.FieldType == FieldType.None || string.IsNullOrWhiteSpace(i.Name));
        if (await Http.TryPutJson("ScoutFormFormat?id=" + id, scoutFormForamt))
        {
            NavigationManager.NavigateTo("ScoutFormFormats");
        }
    }
}
