@page "/ScoutFormFormat/Edit/{id}"
@using OnyxScoutApplication.Client.Pages.ScoutFormFormat.Components
@using OnyxScoutApplication.Shared.Models.ScoutFormFormatModels
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@inject ScoutFormFormatService ScoutFormFormatService
@attribute [OnyxAuthorize(Role = Role.Admin)]

<h3>Edit</h3>
@if (scoutFormFormat != null)
{
    <ScoutFormFormatComponent ScoutFormFormat="@scoutFormFormat" Type="FormType.Update" OnSubmit="@Update">

    </ScoutFormFormatComponent>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private ScoutFormFormatDto scoutFormFormat;

    protected override async Task OnInitializedAsync()
    {
        scoutFormFormat = await ScoutFormFormatService.GetScoutFormById(Id);
    }

    private async Task Update()
    {
        if (await Http.TryPutJson("ScoutFormFormat/" + Id, scoutFormFormat))
        {
            NavigationManager.NavigateTo("ScoutFormFormats");
        }
    }

}
