@page "/ScoutForm/Create"
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject ISessionStorageService SessionStorage
@inject NotificationManager NotificationManager
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>Scout form</h3>
    <br>
    <div style="float: right;">
        <SfButton type="button" CssClass="e-success" @onclick="SaveOnLocalCache">Save locally</SfButton>
        <SfButton type="button" CssClass="e-danger" @onclick="DeleteLocalCache">Delete local cache</SfButton>
    </div>
    <ScoutFromComponent TeamInMatch="@teamInMatch" Form="form" Type="FormType.Create" OnValidSubmit="OnValidSubmit"></ScoutFromComponent>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private TeamInMatch teamInMatch;
    private FormDto form;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        teamInMatch = await LocalStorage.GetItemAsync<TeamInMatch>("ScoutForm/TeamInMatch");
        
        var newForm = await SessionStorage.GetItemAsync<FormDto>("ScoutFormFormat.TemplateScoutFormByYear." + teamInMatch.Match.Date.Year);
        if (newForm == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        
        if(await LocalStorage.ContainKeyAsync($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}"))
        {
            form = await LocalStorage.GetItemAsync<FormDto>($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}");
            return;
        }
        
        newForm.TeamNumber = teamInMatch.TeamNumber;
        newForm.Year = teamInMatch.Match.Date.Year;
        newForm.Type = ScoutFormType.MainGame;
        newForm.KeyName = teamInMatch.Match.Key;
        newForm.WriterUserName = user.Identity!.Name;
        form = newForm;
    }

    private async Task OnValidSubmit()
    {
        if (await Http.TryPostJson("ScoutForm", form))
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        await SaveOnLocalCache();
        await NotificationManager.NotifyAsync("Error", "Error saving form in server\nThe form was saved localy for now", NotificationType.Warning);
    }

    private async Task SaveOnLocalCache()
    {
        await LocalStorage.SetItemAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}" ,form);
    }
    
    private async Task DeleteLocalCache()
    {
        if (!await LocalStorage.ContainKeyAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}"))
        {
            await NotificationManager.NotifyAsync("No form was found on local cache!", "", NotificationType.Warning);
            return;
        }
        await LocalStorage.RemoveItemAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}");
    }
}

