@page "/ScoutForm/Create"
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject NotificationManager NotificationManager
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>ScoutForm</h3>
    <ScoutFromComponent Form="form" Type="FormType.Create" OnValidSubmit="OnValidSubmit"></ScoutFromComponent>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private TeamInMatch teamInMatch;
    private FormDto form;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        teamInMatch = await LocalStorage.GetItemAsync<TeamInMatch>("ScoutForm/TeamInMatch");
        form = await Http.GetJson<FormDto>("ScoutFormFormat/TemplateScoutFormByYear/ " + teamInMatch.Match.Date.Year);
        if (form == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        
        if(await LocalStorage.ContainKeyAsync($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}"))
        {
            form = await LocalStorage.GetItemAsync<FormDto>($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}");
            return;
        }
        
        form.TeamNumber = teamInMatch.TeamNumber;
        form.Year = teamInMatch.Match.Date.Year;
        form.MatchName = teamInMatch.Match.Key;
        form.WriterUserName = user.Identity.Name;
    }

    private async Task OnValidSubmit()
    {
        if (await Http.TryPostJson("ScoutForm", form))
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        await LocalStorage.SetItemAsync($"ScoutForm/{form.MatchName}/{form.TeamNumber}" ,form);
        NotificationManager.Notify("Error", "Error saving form in server\nThe form was saved localy for now", NotificationType.Warning);
    }
}
