@page "/ScoutForm/Create"
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@inject HttpClientManager http
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage
@inject NotificationManager notificationManager
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>ScoutForm</h3>
    <div style="float: right;">
        <SfButton type="button" CssClass="e-success" @onclick="SaveOnLocalCache">Save locally</SfButton>
        <SfButton type="button" CssClass="e-danger" @onclick="DeleteLocalCache">Delete local cache</SfButton>
    </div>
    <ScoutFromComponent IsBlue="@isBlue" Form="form" Type="FormType.Create" OnValidSubmit="OnValidSubmit"></ScoutFromComponent>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private TeamInMatch teamInMatch;
    private FormDto form;
    private bool isBlue;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        teamInMatch = await localStorage.GetItemAsync<TeamInMatch>("ScoutForm/TeamInMatch");
        isBlue = teamInMatch.Match.Alliances.Blue.TeamKeys.Any(i => i.Contains(teamInMatch.TeamNumber.ToString()));
        
        form = await http.GetJson<FormDto>("ScoutFormFormat/TemplateScoutFormByYear/" + teamInMatch.Match.Date.Year);
        if (form == null)
        {
            navigationManager.NavigateTo("/");
            return;
        }
        
        if(await localStorage.ContainKeyAsync($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}"))
        {
            form = await localStorage.GetItemAsync<FormDto>($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}");
            return;
        }
        
        form.TeamNumber = teamInMatch.TeamNumber;
        form.Year = teamInMatch.Match.Date.Year;
        form.Type = ScoutFormType.MainGame;
        form.KeyName = teamInMatch.Match.Key;
        form.WriterUserName = user.Identity!.Name;
    }

    private async Task OnValidSubmit()
    {
        if (await http.TryPostJson("ScoutForm", form))
        {
            navigationManager.NavigateTo("/");
            return;
        }
        await SaveOnLocalCache();
        notificationManager.Notify("Error", "Error saving form in server\nThe form was saved localy for now", NotificationType.Warning);
    }

    private async Task SaveOnLocalCache()
    {
        await localStorage.SetItemAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}" ,form);
    }
    
    private async Task DeleteLocalCache()
    {
        if (!await localStorage.ContainKeyAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}"))
        {
            notificationManager.Notify("No form was found on local cache!", "", NotificationType.Warning);
            return;
        }
        await localStorage.RemoveItemAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}");
    }
}

