@page "/ScoutFormEmrg/Create"
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject ISessionStorageService SessionStorage
@inject NotificationManager NotificationManager
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>ScoutForm</h3>
    <div style="float: right;">
        <SfButton type="button" CssClass="e-success" @onclick="SaveOnLocalCache">Save locally</SfButton>
        <SfButton type="button" CssClass="e-danger" @onclick="DeleteLocalCache">Delete local cache</SfButton>
    </div>
    <ScoutFromComponent EmergencyMode="@true" Form="form" Type="FormType.Create" OnValidSubmit="OnValidSubmit"></ScoutFromComponent>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    //private TeamInMatch teamInMatch;
    private FormDto form;
    //private bool isBlue;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        //teamInMatch = await localStorage.GetItemAsync<TeamInMatch>("ScoutForm/TeamInMatch");
        //isBlue = teamInMatch.Match.Alliances.Blue.TeamKeys.Any(i => i.Contains(teamInMatch.TeamNumber.ToString()));
        Event selectedEvent = null;
        if (!await LocalStorage.ContainKeyAsync("EventSelector/SelectedEventKey"))
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        selectedEvent = await LocalStorage.GetItemAsync<Event>("EventSelector/SelectedEventKey");
        form = await SessionStorage.GetItemAsync<FormDto>("ScoutFormFormat.TemplateScoutFormByYear." + selectedEvent.Year);
        if (form == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        
        // if(await localStorage.ContainKeyAsync($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}"))
        // {
        //     form = await localStorage.GetItemAsync<FormDto>($"ScoutForm/{teamInMatch.Match.Key}/{teamInMatch.TeamNumber}");
        //     return;
        // }
        
        // form.TeamNumber = teamInMatch.TeamNumber;
        form.Year = selectedEvent.Year;
        // form.Type = ScoutFormType.MainGame;
         form.KeyName = selectedEvent.Key;
         form.WriterUserName = user.Identity!.Name;
    }

    private async Task OnValidSubmit()
    {
        if (await Http.TryPostJson("ScoutForm", form))
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        await SaveOnLocalCache();
        await NotificationManager.NotifyAsync("Error", "Error saving form in server\nThe form was saved localy for now", NotificationType.Warning);
    }

    private async Task SaveOnLocalCache()
    {
        await LocalStorage.SetItemAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}" ,form);
    }
    
    private async Task DeleteLocalCache()
    {
        if (!await LocalStorage.ContainKeyAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}"))
        {
            await NotificationManager.NotifyAsync("No form was found on local cache!", "", NotificationType.Warning);
            return;
        }
        await LocalStorage.RemoveItemAsync($"ScoutForm/{form.KeyName}/{form.TeamNumber}");
    }
}

