@page "/ScoutForm/Edit/{Id:int}"
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@attribute [OnyxAuthorize(Role = Role.Admin)]

@if (form != null)
{
    <h3>ScoutForm</h3>
    <ScoutFromComponent Form="form" Type="FormType.Update" OnValidSubmit="OnValidSubmit"></ScoutFromComponent>
}

@code {

    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private FormDto form;

    protected override async Task OnInitializedAsync()
    {
        form = await Http.GetJson<FormDto>("ScoutForm/ " + Id);
        if (form == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task OnValidSubmit()
    {
        if (await Http.TryPutJson("ScoutForm/" + Id, form))
        {
            NavigationManager.NavigateTo("/");
        }
    }

}
