@page "/ScoutForm/View/{Id:int}"
@inject HttpClientManager http
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>ScoutForm</h3>
    <ScoutFromComponent IsBlue="@isBlue"  Form="form" Type="FormType.View"></ScoutFromComponent>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private FormDto form;
    private bool isBlue;

    protected override async Task OnInitializedAsync()
    {
        var teamInMatch = await localStorage.GetItemAsync<TeamInMatch>("ScoutForm/TeamInMatch");
        isBlue = teamInMatch.Match.Alliances.Blue.TeamKeys.Any(i => i.Contains(teamInMatch.TeamNumber.ToString()));
        form = await http.GetJson<FormDto>("ScoutForm/ " + Id);
        if (form == null)
        {
            navigationManager.NavigateTo("/");
        }
    }
}
