@page "/ScoutForm/View/{Id}"
@inject HttpClientManager http
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage
@attribute [OnyxAuthorize(Role = Role.Scouter)]

@if (form != null)
{
    <h3>Scout form</h3>
    <br>
    <ScoutFromComponent Form="form" Type="FormType.View"></ScoutFromComponent>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private FormDto form;

    protected override async Task OnInitializedAsync()
    {
        form = await http.GetJson<FormDto>("ScoutForm/" + Id);
        if (form == null)
        {
            navigationManager.NavigateTo("/");
        }
    }
}
