@inject IJSRuntime JsRuntime

<a href=""
   @onclick="@(async ()=> await JsRuntime.InvokeVoidAsync("open", Url , "_blank"))" @onclick:preventDefault > @Text
</a>



@code {
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public string Text { get; set; }
}
