@page "/CustomEvent/Edit/{Id:int}"
@using OnyxScoutApplication.Shared.Models.CustomeEventModels
@inject HttpClientManager Http
@inject NavigationManager NavigationManager
@attribute [OnyxAuthorize(Role = Role.Admin)]
<h3>EditCustomEvent</h3>

@if (customEvent != null)
{
    <CustomEventComponent CustomEvent="@customEvent" Type="FormType.Create" OnValidSubmitCallBack="OnValidSubmit"></CustomEventComponent>
}

@code {
    [Parameter]
    public int Id { get; set; }
    
    private CustomEventDto customEvent;
    
    protected override async Task OnInitializedAsync()
    {
        customEvent = await Http.GetJson<CustomEventDto>("CustomEvent/" + Id);
        if (customEvent == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task OnValidSubmit()
    {
        if (await Http.TryPutJson("CustomEvent/" + Id, customEvent))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
